@charset "utf-8";
html, body {background:#ededed;}
h1,h2,h3,h4,h5,h6, div, p, span, strong, em, td, a {font-family:'notosans'; font-weight:400;}
.easing {
-webkit-transition: all 400ms cubic-bezier(0.635, 0, 0.245, 1); /* older webkit */
-webkit-transition: all 400ms cubic-bezier(0.635, -0.075, 0.245, 1.010); 
   -moz-transition: all 400ms cubic-bezier(0.635, -0.075, 0.245, 1.010); 
     -o-transition: all 400ms cubic-bezier(0.635, -0.075, 0.245, 1.010); 
        transition: all 400ms cubic-bezier(0.635, -0.075, 0.245, 1.010); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.635, 0, 0.245, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.635, -0.075, 0.245, 1.010); 
   -moz-transition-timing-function: cubic-bezier(0.635, -0.075, 0.245, 1.010); 
     -o-transition-timing-function: cubic-bezier(0.635, -0.075, 0.245, 1.010); 
        transition-timing-function: cubic-bezier(0.635, -0.075, 0.245, 1.010); /* custom */
}
.wrap-content {position:relative; width:720px; min-height:720px; min-height:1280px; margin:30px auto; background:#fff; box-shadow:0 0 5px rgba(0,0,0,0.5); overflow:scroll; }
.wrap-header {position:relative; height:113px; padding:0 32px; background:#ff961a;}
.wrap-header .btn-menu {position:absolute; top:26px; left:20px; display:block; width:30px; height:30px; padding:15px;}
.wrap-header .btn-menu span {position:absolute; left:12px; display:block; width:36px; height:5px; background:#fff;}
.wrap-header .btn-menu .bar1 {top:15px;}
.wrap-header .btn-menu .bar2 {top:26px;}
.wrap-header .btn-menu .bar3 {top:37px;}
.wrap-header h2 {font-size:42px; text-align:center; height:113px; line-height:113px; color:#fff;}

.wrap-sidebar {z-index:9999; position:absolute; top:0; left:-608px; width:608px; height:100%; background:#fff; overflow:scroll;}
.wrap-sidebar.on {
	display:block;
	box-shadow:0 0 100px rgba(0,0,0,0.7);
	-webkit-transform:translateX(608px);
	-ms-transform:translateX(608px);
	-o-transform:translateX(608px);
	transform:translateX(608px);
}
.wrap-sidebar .box-top {height:296px; position:relative; background:#ff961a;}
.wrap-sidebar .box-top .box-profile {position:absolute; top:32px; left:32px; border-radius:50%; overflow: hidden;}
.wrap-sidebar .box-top .box-profile img {width:128px; height:128px;}
.wrap-sidebar .box-top .txt-name {position:absolute; left:32px; bottom:40px; font-size:28px; font-family:'Roboto', sans-serif;color:#fff;}
.wrap-sidebar .box-top .btn-setting {position:absolute; top:60px; right:32px; display:block; width:36px; height:37px; text-align:center;}
.wrap-sidebar .box-top .btn-setting i {font-size:39px; color:#fff;}

.wrap-sidebar .ul-sidebar {padding:0 32px;}
.wrap-sidebar .ul-topnav {padding-top:40px; border-bottom:1px solid #dcdcdc}
.wrap-sidebar .ul-topnav .li-nav {height:96px;}
.wrap-sidebar .ul-topnav .li-nav a {position:relative; display:block; padding:0 0 0 111px; line-height:96px; font-size:30px; color:#000;}
.wrap-sidebar .ul-topnav .li-nav a .num-count {float: right;}
.wrap-sidebar .ul-topnav .li-on a {color:rgb(253,113,47);}
.wrap-sidebar .ul-topnav .li-on a .num-count {color:rgb(253,101,19);}
.wrap-sidebar .ul-topnav .li-all a {background:url('../images/bg-nav1.png') 0 center no-repeat;}
.wrap-sidebar .ul-topnav .li-today a {background:url('../images/bg-nav2.png') 0 center no-repeat;}
.wrap-sidebar .ul-topnav .li-tomorrow a {background:url('../images/bg-nav3.png') 0 center no-repeat;}
.wrap-sidebar .ul-topnav .li-nextweek a {background:url('../images/bg-nav4.png') 0 center no-repeat;}
.wrap-sidebar .ul-topnav .li-calendar a {background:url('../images/bg-nav5.png') 0 center no-repeat;}
.wrap-sidebar .ul-botnav .li-addgroup a {background:url('../images/bg-nav6.png') 0 center no-repeat;}
.wrap-sidebar .ul-botnav .li-managegroup a {background:url('../images/bg-nav7.png') 0 center no-repeat;}
.wrap-sidebar .ul-botnav .li-nav {height:96px;}
.wrap-sidebar .ul-botnav .li-nav a {position:relative; display:block; padding:0 0 0 111px; line-height:96px; font-size:30px; color:#000;}

.cover {z-index:9998; display:none; position:absolute; width:100%; height:100%; left:0; top:0; background:rgba(0,0,0,0.3);}


