@charset "utf-8";
html, body {background:#767676;}
h1,h2,h3,h4,h5,h6, div, p, span, strong, em, td, a {font-family:'notosans'; font-weight:400;}
.easing {
-webkit-transition: all 400ms cubic-bezier(0.635, 0, 0.245, 1); /* older webkit */
-webkit-transition: all 400ms cubic-bezier(0.635, -0.075, 0.245, 1.010); 
   -moz-transition: all 400ms cubic-bezier(0.635, -0.075, 0.245, 1.010); 
     -o-transition: all 400ms cubic-bezier(0.635, -0.075, 0.245, 1.010); 
        transition: all 400ms cubic-bezier(0.635, -0.075, 0.245, 1.010); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.635, 0, 0.245, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.635, -0.075, 0.245, 1.010); 
   -moz-transition-timing-function: cubic-bezier(0.635, -0.075, 0.245, 1.010); 
     -o-transition-timing-function: cubic-bezier(0.635, -0.075, 0.245, 1.010); 
        transition-timing-function: cubic-bezier(0.635, -0.075, 0.245, 1.010); /* custom */
}
.wrap-content {position:relative; width:720px; height:1280px; margin:30px auto; background:#fff; box-shadow:0 0 5px rgba(0,0,0,0.5); overflow:hidden;}
.wrap-header {position:relative; height:113px; padding:0 32px; background:#ff961a; box-shadow:0 0 10px rgba(0,0,0,0.5);}
.wrap-header .btn-menu {position:absolute; top:26px; left:20px; display:block; width:30px; height:30px; padding:15px;}
.wrap-header .btn-menu span {position:absolute; left:12px; display:block; width:36px; height:5px; background:#fff;}
.wrap-header .btn-menu .bar1 {top:15px;}
.wrap-header .btn-menu .bar2 {top:26px;}
.wrap-header .btn-menu .bar3 {top:37px;}
.wrap-header h2 {font-size:42px; text-align:center; height:113px; line-height:113px; color:#fff;}

.wrap-sidebar {z-index:9999; position:absolute; top:0; left:-608px; width:608px; height:100%; background:#fff; overflow:scroll;}
.wrap-sidebar.on {
	box-shadow:0 0 100px rgba(0,0,0,0.7);
	-webkit-transform:translateX(608px);
	-ms-transform:translateX(608px);
	-o-transform:translateX(608px);
	transform:translateX(608px);
}
.wrap-sidebar .box-top {height:296px; position:relative; background:#ff961a;}
.wrap-sidebar .box-top .box-profile {position:absolute; top:32px; left:32px; border-radius:50%; overflow: hidden;}
.wrap-sidebar .box-top .box-profile img {width:128px; height:128px;}
.wrap-sidebar .box-top .txt-name {position:absolute; left:32px; bottom:40px; font-size:28px; font-family:'Roboto', sans-serif;color:#fff;}
.wrap-sidebar .box-top .btn-setting {position:absolute; top:60px; right:32px; display:block; width:36px; height:37px; text-align:center;}
.wrap-sidebar .box-top .btn-setting i {font-size:39px; color:#fff;}

.wrap-sidebar .ul-sidebar {padding:0 32px;}
.wrap-sidebar .ul-topnav {padding-top:40px; border-bottom:1px solid #dcdcdc}
.wrap-sidebar .ul-topnav .li-nav {height:96px;}
.wrap-sidebar .ul-topnav .li-nav a {position:relative; display:block; padding:0 0 0 111px; line-height:96px; font-size:30px; color:#000;}
.wrap-sidebar .ul-topnav .li-nav a .num-count {float: right;}
.wrap-sidebar .ul-topnav .li-on a {color:rgb(253,113,47);}
.wrap-sidebar .ul-topnav .li-on a .num-count {color:rgb(253,101,19);}
.wrap-sidebar .ul-topnav .li-all a {background:url('../images/bg-nav1.png') 0 center no-repeat;}
.wrap-sidebar .ul-topnav .li-today a {background:url('../images/bg-nav2.png') 0 center no-repeat;}
.wrap-sidebar .ul-topnav .li-tomorrow a {background:url('../images/bg-nav3.png') 0 center no-repeat;}
.wrap-sidebar .ul-topnav .li-nextweek a {background:url('../images/bg-nav4.png') 0 center no-repeat;}
.wrap-sidebar .ul-topnav .li-calendar a {background:url('../images/bg-nav5.png') 0 center no-repeat;}
.wrap-sidebar .ul-botnav .li-addgroup a {background:url('../images/bg-nav6.png') 0 center no-repeat;}
.wrap-sidebar .ul-botnav .li-managegroup a {background:url('../images/bg-nav7.png') 0 center no-repeat;}
.wrap-sidebar .ul-botnav .li-nav {height:96px;}
.wrap-sidebar .ul-botnav .li-nav a {position:relative; display:block; padding:0 0 0 111px; line-height:96px; font-size:30px; color:#000;}

.box-shortcut {position:absolute; left:0; bottom:0; width:100%; box-shadow:0 0 10px rgba(0,0,0,0.5); background:#fff;}
.box-shortcut ul {}
.box-shortcut ul li {float: left; width:25%;}
.box-shortcut ul li a {display:block; width:100%; padding:77px 0 0; height:36px; text-align:center; color:#8d8d8d; font-weight:300; font-size:24px;}
.box-shortcut ul .li-on a {color:#ff961a;}
.box-shortcut ul .li-home a {background:url('../images/short1.png') center 25px no-repeat;}
.box-shortcut ul .li-calendar a {background:url('../images/short2.png') center 20px no-repeat;}
.box-shortcut ul .li-ai a {background:url('../images/short3.png') center 20px no-repeat;}
.box-shortcut ul .li-more a {background:url('../images/short4.png') center 40px no-repeat;}
.box-content {height:1054px; overflow: scroll;}
.cover {z-index:9998; display:none; position:absolute; width:100%; height:100%; left:0; top:0; background:rgba(0,0,0,0.3);}
.head-data {position:relative; height:48px; padding:0 32px; line-height:52px; font-size:24px; background:#e1e1e1; border-bottom:1px solid #dcdcdc}
.head-data table {width:100%;}
.head-data table td {text-align:center;}
.ul-task-ai {height:1054px; overflow: scroll;}
.ul-task .li-taskdata {position:relative; height:125px; padding:40px 0 35px; border-bottom:2px solid #dcdcdc;}
.ul-task .li-taskdata.on {
	-webkit-transform:translateX(720px);
	-ms-transform:translateX(720px);
	-o-transform:translateX(720px);
	transform:translateX(720px);
}
.ul-task .li-taskdata .box-txt {float: right; width:604px;}
.ul-task .li-taskdata .box-txt a {display:block;}
.ul-task .li-taskdata .box-txt .tit-task {font-size:30px; color:#000;}
.ul-task .li-taskdata .box-txt .ul-data {padding:30px 0 0; overflow: hidden;}
.ul-task .li-taskdata .box-txt .ul-data li {float: left; width:222px; height:24px; margin:0 40px 25px 0; padding:0 0 0 40px; line-height:24px; color:#000;}
.ul-task .li-taskdata .box-txt .ul-data .li-date {background:url('../images/task-data1.png') 0 0 no-repeat;}
.ul-task .li-taskdata .box-txt .ul-data .li-time {background:url('../images/task-data2.png') 0 0 no-repeat;}
.ul-task .li-taskdata .box-txt .ul-data .li-place {background:url('../images/task-data3.png') 0 0 no-repeat;}
.ul-task .li-taskdata .box-txt .ul-data .li-member {background:url('../images/task-data4.png') 0 4px no-repeat;}
.ul-task .li-taskdata .box-check {position:absolute; top:29px; left:32px;}
.ul-task .li-taskdata .box-check label {width:48px; height:48px; display:block; cursor: pointer;}
.ul-task .li-taskdata .box-check label.type1 {background:url('../images/check-off.png') center center no-repeat;}
.ul-task .li-taskdata .box-check label.type2 {background:url('../images/check-off-v2.png') center center no-repeat;}
.ul-task .li-taskdata .box-check input[type=checkbox] {display:none;}
.ul-task .li-taskdata .box-check input[type=checkbox]:checked + label.type2 {background:url('../images/check-on-v2.png') center center no-repeat;}
.btn-task-more {display:block; height:96px; background:url('../images/task-more.png') center center no-repeat; text-indent:-9999px;}
.wrap-ai {z-index:9999; position:absolute; top:0; left:720px; width:100%; height:1280px; background:#fff; overflow: hidden;}
.wrap-ai.on {
	box-shadow:0 0 100px rgba(0,0,0,0.7);
	-webkit-transform:translateX(-720px);
	-ms-transform:translateX(-720px);
	-o-transform:translateX(-720px);
	transform:translateX(-720px);
}
.wrap-ai h2 {font-size:42px; text-align:center; height:113px; line-height:113px; color:#fff; background:#ff961a; box-shadow:0 0 10px rgba(0,0,0,0.5); }
.box-ai-shortcut {position:absolute; left:0; bottom:0; width:100%; height:113px; background:#fff; border-top:1px solid #dcdcdc; box-shadow:0 0 10px rgba(0,0,0,0.5); }
.box-ai-shortcut ul {overflow: hidden;}
.box-ai-shortcut ul li {float: left; width:50%; height:100%;}
.box-ai-shortcut ul li a {display:block; padding:78px 0 11px; font-size:24px; text-align:center; font-weight:300; color:#333;}
.box-ai-shortcut ul .li-task-delete a {border-right:2px solid #dcdcdc; background:url('../images/delete.png') center 20px no-repeat;}
.box-ai-shortcut ul .li-task-confirm a {color:#ff601a; background:url('../images/confirm.png') center 20px no-repeat;}
.box-notice {position:absolute; left:720px; bottom:114px; width:100%; height:96px; background:#4b4b4a;}
.box-notice.on {
	-webkit-transform:translateX(-720px);
	-ms-transform:translateX(-720px);
	-o-transform:translateX(-720px);
	transform:translateX(-720px);
}
.box-notice .txt-notice {padding:0 32px; font-size:30px; color:rgb(229,229,229); font-weight:200; line-height:96px;}
.box-notice .btn-rollback {font-size:30px; color:rgb(215,117,86); position:absolute; right:32px; top:32px;}
.btn-close-ai {position:absolute; top:40px; right:32px; display:block; width:36px; height:36px; background:url('../images/close.png') center center no-repeat; text-indent:-9999px;}

#calendar {margin:20px 0 0;}
#calendar li {height:527px; padding:0 32px;}
#calendarWeek .li-week {height:115px;}
#calendarWeek .calendar-week {height:115px;}
#calendarWeek .calendar-week li {height:115px; padding:0 32px;}

#calendar li table {width:100%;}
#calendar li table td {width:82px; height:82px; vertical-align:middle; text-align:center;}
#calendar li table td span {font-size:24px;}
#calendar li table td.today span {width:80px; height:80px; line-height:80px; display:inline-block; border-radius:50%; background:#ededed;}
#calendar li table td.not-current span {color:#cdcdcd;}

#calendarWeek {margin:20px 0 0;}
#calendarWeek li table {width:100%;}
#calendarWeek li table td {width:82px; height:82px; vertical-align:middle; text-align:center;}
#calendarWeek li table td span {font-size:24px;}
#calendarWeek li table td.today span {width:80px; height:80px; line-height:80px; display:inline-block; border-radius:50%; background:#ededed;}
#calendarWeek li table td.not-current span {color:#cdcdcd;}



.btn-trans-week {z-index:1; position:absolute; top:-20px; left:50%; display:block; width:40px; height:40px; margin:0 0 0 -20px; background:url('../images/trans-week.png') center center no-repeat;}
